body
{
    background: url("../images/background.jpg");
    background-attachment: scroll;
    background-size: cover;

    font-size: 1.0em;
    font-family: system-ui;
    color: rgb(255, 255, 255);

   
    text-align: center;
    font-family: Arial;
}

table
{
    border-collapse: collapse;
    text-align: center;
    margin-left:auto; 
    margin-right:auto;
}


h1
{
  font-size: 32px;
  color: rgb(255, 255, 255);
  font-family: system-ui;
  font-weight:lighter;
  text-align:center;
  display:block;

  
}

.titre{
    font-weight: bold;
}


.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #315055;
    text-align: center;
    color: rgb(255, 255, 255);
}

.button {
    background-color: #ffffff; 
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    border-radius: 12px;
    
}



.form-input {
    background: #dee2e7;
    border: 1px solid #000000;
    border-radius: 2px;
    padding: 12px 16px;
    min-width: 25%;
    margin-bottom: 10px;
}
.BeforeInput{
    color:rgb(255, 255, 255);
    font-size: 20px;
    
}
