doctype html
html(lang='fr')
  head
  body
    h1.titre Welcome to SportTrack !
    // -- It's the main page, here, the user could connect himself to his account or create a new account --
    meta(charset='utf-8')
    meta(name='author' content='Hugo LE MOUËLLIC, Simon BEUREL')
    meta(name='Main' content='Page Principale')
    link(rel='stylesheet' href='../ressources/css/style.css')
    br
    h1
      | Click here if you are new
    a(href="/users"): button(type="button") Create a new account
    br
    br
    h1
      | Click here if you already got an account
    a(href="/connect"): button(type="button") Connect to an account
    .footer
      p
        | An application made by IT Students at Vannes's IUT
